<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Deleted</title>
    <link rel="stylesheet" href="/css/accountDeletedAlert.css">
</head>
<body>
    <h1 style="color:red ;">Account Deleted</h1>

    <script>
        setTimeout(function () {
            window.location.href = "/"; 
        }, 3000); 
    </script>
</body>
</html>
