<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Page</title>
    <link rel="stylesheet" href="/css/blog.css">
</head>
<body>
    <header>
        <h3>Welcome, <span id="user-name" style="color: yellow;"></span></h3>
        <h1>Note Management System</h1>
        

      
</body>
</html>
