<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Account</title>
    <link rel="stylesheet" href="/css/editProfile.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
    .alert {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
    </style>
</head>
<body>
    <div id="alerts">
        <% if (message != '' && message) { %>
            <div class="alert alert-<%- color %> alert-dismissible fade show" role="alert">
                <strong><%- message %></strong>
                <button type="button" onclick="close" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% } %>
        </div>
    <div class="delete-button">
    </div>
    <div class="container">
        <h2>Delete Account</h2>
        <br>
        <form action="/finalAccountDelete/<%- userId[0].id %>" method="post">
            <div class="form-group">
                <label for="confirm">To confirm, type "<b style="color:red ;"><%- userId[0].name %></b>" in the box below</label>
                <input type="text" id="confirm" name="confirm" required>
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Delete This Account">
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        setTimeout(function() {
           const alert = document.getElementById('alerts');
           if (alert) {
               alert.style.display = 'none';
           }
       }, 3000);
   </script>
</body>
</html>
