<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Screen GIF</title>
    <style>
        body {
            margin: 0;
            overflow: hidden; /* Hide scrollbars */
        }

        img {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <img src="/image/404.gif" alt="">
</body>
</html>
