<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
     body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
        }
        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
        .form-group {
            margin-bottom: 15px;
        }
        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
        input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 3px;
        }
        a {
            text-decoration: none;
            color: #007bff;
        }
        .alternative-link {
            font-size: 14px;
            color: #777;
        }
    </style>
</head>
<body>
    <div id="alerts">
        <% if (message != '' && message) { %>
            <div class="alert alert-<%- color %> alert-dismissible fade show" role="alert">
                <strong><%- message %></strong>
                <button type="button" onclick="close" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% } %>
        </div>
    <div class="container" style="margin-top:150px ;">
        <h1>Find Your Account</h1>
        <form action="/forgetPassword" method="post">
            <div class="form-group">
                <label for="email">Please enter your email to search for your account.</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Search">
            </div> 
        </form>
        <a href="/login">Cancel</a>
        <p class="alternative-link">No longer have access to these?</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <script>
         setTimeout(function() {
            const alert = document.getElementById('alerts');
            if (alert) {
                alert.style.display = 'none';
            }
        }, 3000);
    </script>
</body>
</html>
