<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Page</title>
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="/css/newLoginblog.css">
</head>
<body>
    <header>
        <h3>Welcome, <span id="user-name" style="color: yellow ;"><%- userDb[0].name %></span></h3>
        <h1>My Blog</h1>
        <nav>
            <div class="left-nav">
                <a href="">Create Blog</a>
            </div>
            <ul>
                <li><a href="">Edit Profile</a></li>
            </ul>
            <ul>
                <li><a href=""> Logout</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="blog-list">
            No Blog
        </div>
    </div>
</body>
</html>
