<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter security code</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f2f5;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 400px;
            margin: 0 auto;
            background-color: #fff;
            border: 1px solid #ddd;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            font-size: 24px;
            text-align: center;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="text"] {
            width: 95%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        button {
            width: 100%;
            background-color: #007BFF;
            color: #fff;
            border: none;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }

        .alternative-link {
            text-align: center;
            margin-top: 20px;
        }

        .alert {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <% if (message != '' && message) { %>
        <div class="alert alert-<%-color%> alert-dismissible fade show" role="alert">
            <strong><%- message %></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %>

    <div class="container" style="margin-top:150px;">
  
        <h1>Enter security code</h1>
        <form action="/otpCode/<%-Useremail%>" method="post">
            <div class="form-group">
                <label for="email">Please check your phone for a text message with your code. Your code is 6 characters long.</label>
                <hr>
                <div style="display:flex;">
                    <input style="height:20px; margin-right: 20px; margin-top: 20px;" type="text" name="otp">
                    <div style="display:block;">
                        <p>We sent your code to:</p>
                        <p>pushitcoc@gmail.com</p>
                    </div>
                </div>
                <button type="submit" style="margin-left:20px; height: 50px; margin-top: 10px; width: 150px;">Continue</button>
            </div>
        </form>
        <a href="">Cancel</a> &nbsp;
        <a href="">Did not get code?</a>
       
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
