<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Not Exists</title>
    <link rel="stylesheet" href="/css/passwordWrong.css">
</head>
<body>
    <div class="message">Password Wrong 😂</div>
    <div class="link"><a href="/login"> <h3>👉 Go to login page</h3> </a></div>
</body>
</html>
