body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}



nav {
    background-color: #444;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: #007BFF;
}

.container {
    margin: 0 auto;
    padding: 20px;
}

.blog-post {
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    margin-left: 35px; 
}

.blog-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.blog-content {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

.blog-list {
    display: flex;
    flex-wrap: wrap;
}

.blog-post {
    width: calc(31.33% - 20px);
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

nav {
    display: flex;
    align-items: center;
}

nav .left-nav {
    margin-right: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}