body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: #007BFF;
}