body {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #3c75ab;
}

.message {
    font-size: 4em;
    animation: pulse 1s infinite alternate;
}

.link {
    font-size: 1em;
    margin-top: 20px; 
}

a{
    text-decoration: none;
}

h3{
    color: white;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
        color: red;
    }
}